VITE_BACKEND_URL=
VITE_DOCS_URL=

VITE_GOOGLE_CLIENT_ID=
VITE_GOOGLE_REDIRECT_URI=
VITE_GITHUB_CLIENT_ID=
VITE_GITHUB_REDIRECT_URI=
VITE_MICROSOFT_CLIENT_ID=
VITE_MICROSOFT_TENANT_ID=
VITE_MICROSOFT_REDIRECT_URI=
