.SoundEditor {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #537D8D;
}

.scrollable-container {
    max-width: 90%;
    max-height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* align-items removed to avoid clipping */
}

.grid {
    width: max-content;
    display: grid;
    margin-top: 1em;
    row-gap: 2px;
    background-color: #537D8D;
    box-sizing: border-box;
    border : 3px solid #537D8D;


    .cell {
        background-color: #3a5863;
        color: transparent;
        user-select: none;
    }

    .cell:hover {
        background-color: #2a3c45;
    }

    .cell.selected {
        background-color: #2a3c45;
        color: black; 
    }
}


.button {
    background-color: #3a5863;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Pixelify';
    border-radius: 10px;
    border : 2px solid #3a5863;
}

.button:hover {
    background-color: #537D8D;
}

.button:active {
    background-color: #2a3c45;
}

.button.selected {
    background-color: #537D8D;
}

.editor-countainer {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: left;
    width: 100%;
}

.instrument-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 20%;
    margin: 1em;

    .button {
        flex-grow: 1;
    }
}


.music-buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 15%;
    margin: 1em;


    .button {
        width: 4em;
        height: 4em;
    }

}