@font-face {
  font-family: 'Pixelify';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/PixelifySans-Medium.ttf') format('truetype');
}

html,
body,
#root {
  height: 100%;
  margin: 0;

  font-family: 'Pixelify';
  background-color: #383838;
  display: flex;
  flex-direction: column;
}

#root {
  /* To prevent DarkReader from producing weird colouring artifacts */
  padding: 8px;
}
